/* * {border: 1px solid;} */

:root {
    --clr-dark-primary: #142850;
    --clr-dark-secondary: rgba(1, 65, 65, 0.285);
    --clr-light-primary: #DAE1E7;
    --clr-light-secondary: #00909E;
    --clr-light-accent: #eb4556;

    --outer-padding: 1em;
    --input-padding: 0.5em;

    --border-radius: 0em;

    --header-height: 50px;

    --transition-duration: 0.2s;

    --font-serif: 'Merriweather', serif;
    --font-sans: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-sans);
}

body, html {background: var(--clr-dark-primary);}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-serif);
}

*::-webkit-scrollbar {
    background: transparent;
    display: none !important;
}

ul {
    list-style-type: none;
}

h2 {
    text-align: center;
}

input {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: var(--clr-light-primary);
}

a:hover {
    color: var(--clr-light-secondary)
}

a:hover {
    cursor: pointer;
}

i {
    font-size: 1.5em
}

.wrap-content {
    max-width: 900px;
    margin: auto;
    padding: var(--outer-padding);
    box-sizing: border-box;
}

article {
    display: flex;
    min-width: 100vw;
    height: 100%;
    max-height: 700px;
    box-sizing: border-box;

    top: 0vh;
    background: var(--clr-dark-primary);
    color: var(--clr-light-primary);
    transition: top var(--transition-duration) ease-out;
}

#frame {
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: var(--transition-duration);
    background: var(--clr-dark-primary);
}

#scrollable {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* header */
header {
    height: var(--header-height);
    position: fixed;
    width: 100vw;
    background: var(--clr-dark-primary);
    color: var(--clr-light-primary);
    backdrop-filter: blur(10px);
    bottom: 0px;
    z-index: 11;
}

header .wrap-content {
    padding: 0.5em 1em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* logo */
#logo {
    display: none;
    z-index: 4;
    font-weight: 900;
    font-size: 1.4em;
    font-family: var(--font-sans);
}

#logo:hover {
    cursor: pointer;
}

/* header > nav */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    text-transform: uppercase;
}

header nav li {
    width: 100px;
    text-align: center;
    transition: all var(--transition-duration) ease-in-out;
    z-index: 4;
    flex: 1 1 25%;
}

header nav li:nth-child(1) {
    display: none;
}

header nav ul li p {
    font-family: var(--font-sans);
    font-weight: 900;
    display: none;
}

header nav li:hover {
    cursor: pointer;
}

header nav i {
    text-align: center;
}

header nav span {
    position: absolute;
    background: var(--clr-light-secondary);
    top: -10px;
    bottom: 0px;
    height: 45px;
    left: 10px;
    border-radius: 50px;
    z-index: 3;
    transition: var(--transition-duration) ease left;
}

/* home */
#home {
    text-align: left;
    z-index: 12
    ;
    height: 100vh;
    max-height: none;

    padding: calc(16px);
    box-sizing: border-box;
    position: absolute;

    background: var(--clr-dark-primary);
    color: var(--clr-light-primary);
}

#home .wrap-content {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    max-height: 100vh;
    text-align: center;

    /* border: 3px solid; */

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#home p {
    font-size: calc(0.8em + 1vw);
    font-style: italic;
    color: lightsalmon;
}

#home h1 {
    /* width: 100px; */
    font-size: calc(2em + 2vw);
}

.enter {
    margin-top: calc(1em + 1vh);
    animation: heartBeat 3s ease-in-out -1s infinite;
}

.enter:hover {
    cursor: pointer;
}

@keyframes heartBeat {
    10% {
        transform: scale(1);
        color: var(--clr-light-primary);
    }

    24% {
        transform: scale(1.3);
        color: var(--clr-light-secondary);
    }

    38% {
        transform: scale(1);
        color: var(--clr-light-primary);
    }

    52% {
        transform: scale(1.3);
        color: var(--clr-light-secondary);
    }

    80% {
        transform: scale(1);
        color: var(--clr-light-primary);
    }
}

/* work */
#work {
    padding: 2em 0 var(--header-height) 0;
    z-index: 3;
    flex-direction: column;
    min-height: 600px;
    justify-content: flex-start;
}

#work .wrap-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    height: 90%;
    width: 100%;
    /* max-width: 100vw; */

    position: relative;
    padding: 1em;
}

.work-card {
    position: absolute;
    max-width: 40%;
    min-width: 150px;
    /* width: 300px; */
    height: 400px;
    text-align: left;
    margin-bottom: 15px;
    box-shadow: 0 0 5px grey;
    top: 4em;

    background: var(--clr-light-primary);
    box-shadow: 3px 3px 10px var(--clr-dark-secondary);
    color: var(--clr-dark-primary);
    transition: transform 1s ease-in-out;
}

.work-card:nth-child(1) {
    left: 5%
}

.work-card:nth-child(2) {
    left: 30%
}

.work-card:nth-child(3) {
    right: 5%
}

.work-card:hover {
    cursor: pointer;
    z-index: 10;
    transform: scale(1.05);
}

.work-card.selected {
    z-index: 10;
    transform: scale(1.05);
}

.work-card img {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.work-desc {
    padding: 10px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

a, a > i {
    font-size: 1em;
    color: var(--clr-dark-primary);
    width: 180px;
    display: flex;
    justify-content: space-between;
}

a:hover, a > i:hover {
    cursor: pointer;
    color: var(--clr-light-secondary);
}

/* about */
#about {
    z-index: 2;
    padding-bottom: var(--header-height);
    height: auto;
}

#about .wrap-content {
    text-align: center;
    max-width: 100%;
    text-align: center;
}

.profile-div {
    width: 90%;
    margin: 1em auto;
}

.profile-img {
    width: 60vw;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    object-fit: cover;
    object-position: center 40%;
}

.name {
    font-weight: bold;
    font-size: x-large;
}

.position {
    font-style: italic;
    margin: 10px 0;
}

#profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#social-media {
    color: var(--clr-light-primary);
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 1em auto;
    text-align: center;
    width: 100%;
}

#social-media p {
    display: none;
}

#social-media li, #social-media a {
    width: 10px !important;
    display: inline-block;
}

#social-media li i {
    font-size: 1.5em;
    width: auto;
    color: var(--clr-light-primary);
    margin: auto;
}

/* contact */
#contact {
    height: 100vh;
    /* max-height: ; */
    z-index: 1;
    padding: var(--header-height) 0;
    margin: var(--header-height) 0;
}

form {
    text-align: center;
}

form>div>* {
    margin: var(--input-padding) 0.2em;
}

form h2 {
    padding: calc(1em + 3vh) 0;
}

.custom-input {
    display: inline-block;
    position: relative;
    min-height: 31px;
}

.inputText {
    padding: var(--input-padding);
    background: transparent;
    color: var(--clr-light-secondary);
    border: none;
    outline: none;
    border-bottom: 1px dashed var(--clr-light-secondary);
    padding-bottom: calc(0.25 * var(--input-padding));
    font-size: 1em;
}

#message {
    min-width: 175px;
    word-break: break-all;
    max-height: 4em;
    overflow-y: auto;
    text-align: left;
}

.floating-label {
    position: absolute;
    color: var(--clr-light-secondary);
    left: var(--input-padding);
    top: calc(0.3 * var(--input-padding));
    pointer-events: none;
    transition: 0.2s ease all;
    opacity: 0.6;
}

#message~.floating-label {
    top: calc(1 * var(--input-padding));
}

#message:focus~.floating-label,
#message:not(:focus):not(.invalid)~.floating-label,
.inputText:focus~.floating-label,
.inputText:not(:focus):not(.empty)~.floating-label {
    top: calc(-1.5 * var(--input-padding));
    font-size: 0.8em;
    opacity: 0.8;
}

.invalid:not(.empty)~.floating-label,
.invalid:not(.empty) {
    color: var(--clr-light-accent);
}

#send {
    box-sizing: border-box;
    width: 80vw;
    max-width: 20em;
    height: 3em;
    border-radius: var(--border-radius);
    border: 1px solid var(--clr-dark-secondary);
    color: var(--clr-dark-primary);
    background: var(--clr-light-primary);
    /* box-shadow: 2px 2px 2px var(--clr-shadow); */
    margin: calc(1em + 3vh) 0;
}

#send:hover {
    cursor: pointer;
    background: var(--clr-light-secondary);
}

/* mediaquery */
@media only screen and (min-width: 500px) {

    /* @media header */
    header {
        bottom: initial;
    }

    header .wrap-content {
        justify-content: space-between;
    }

    /* @media logo */
    #logo {
        display: block;
    }

    /* @media nav */
    header nav {
        width: auto;
    }

    header nav ul li i {
        display: none !important;
    }

    header nav ul li:nth-child(2):hover~span {
        left: 0px !important;
    }

    header nav ul li:nth-child(3):hover~span {
        left: 100px !important;
    }

    header nav ul li:nth-child(4):hover~span {
        left: 200px !important;
    }

    header nav ul li p {
        display: initial;
    }

    header nav span {
        background: var(--clr-light-primary);
        height: 3px;
        top: 30px;
        transform: scaleX(0.6);
    }

    /* home */
    .enter:hover {
        cursor: pointer;
    }
      

    /* work */
    #work {
        padding-top: var(--header-height);
    }

    #work .wrap-content {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    #work .wrap-content h2 {
        grid-column: 1/4;
        /* display: none; */
    }  

    /* about */
    .profile-div {
        display: flex;
    }

    .profile-div > * {
        /* margin: 1.5em; */
        width: 50%;
        /* flex: 1 1 50% !important; */
    }

    .profile-img {
        border-radius: 0px;
        margin-right: 1em;
    }


    /* contact */
    #contact .wrap-content {
        height: auto;
        align-items: center;
    }

    form {
        padding: 2em;
    }

}

/* stop animation */
.animation-stopper * {
    transition: none !important;
    animation: none !important;
}